<section>
  <div class="mt-3 px-3 close"><%= link_to "X", category_path(@category) %></div>
  <div class="sign-wrap">
  <h3 class="md-heading text-center mb-3">EDIT CATEGORY</h3>
  <div class="fs-4 sign-card">
    <%= form_with model: @category do |f| %>

			<% if f.object.errors.any? %>
			<div class="alert alert-danger error-container">
				<strong>The following errors prevented saving:</strong>
				<ul>
					<% f.object.errors.full_messages.each do |error| %>
						<li><%= error %></li>
					<% end %>
				</ul>
			</div>
			<% end %>

      <div class="group mb-3">
        <%= f.text_field :name, placeholder: "Name", autofocus: true, autocomplete: "name", class: "email-move" %>
      </div>
      <%= f.submit "Add", data: {disable_with: "Adding..."}, class: "signup-btn my-4 py-2" %>
    <% end %>
  </div>
</div>
</section>