<section class="page-position">
  <div>
    <div class="d-flex justify-content-around align-items-center devise-class my-4">
      <div class="d-flex justify-content-around align-items-center" >
        <div class="user-icon me-2">
          <%= link_to sign_out_path do %>
          <div><%= fa_icon "user" %></div>
          <% end %>
        </div>
        <h3 class="md-heading">Hi <%= current_user.name.split(" ")[0] %></h3>
      </div>

      <% if current_user.amount - @categories.map { |cat| cat.total_amount }.sum < 1 %>
        <div>
          <h3 class="red-text bold-text md-heading">No available money</h3>
          <h3 class="red-text bold-text md-heading">update your budget</h3>
        </div>
      <% else %>
        <div class="d-flex justify-content-around align-items-center">
          <h3 class="md-heading">Add Category</h3>
          <div class="user-icon ms-2">
            <%= link_to new_category_path do %>
            <div><%= fa_icon "plus" %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <div class="cat-card">
        <div>
          <h3 class="xl-heading mb-2 text-white bold-text">Initial Budget</h3>
          <h3 class="xl-heading mb-2 text-white bold-text"> $<%= current_user.amount %> </h3>
        </div>
 
        <div>
          <h3 class="xl-heading text-white mb-2 bold-text">Spent</h3>
          <h3 class="xl-heading white-text bold-text"> $<%= @categories.map { |cat| cat.total_amount }.sum %></h3>
        </div>

        <div>
          <h3 class="xl-heading mb-2 text-white bold-text">Available</h3>

          <% if current_user.amount - @categories.map { |cat| cat.total_amount }.sum < 1 %>
          <h3 class="xl-heading red-text bold-text"> $<%= current_user.amount - @categories.map { |cat| cat.total_amount }.sum %></h3>
          <% else %>
          <h3 class="xl-heading white-text bold-text"> $<%= current_user.amount - @categories.map { |cat| cat.total_amount }.sum %></h3>
          <% end %>
        </div>
      </div>


      <% if @categories.size < 1 %>
        <p class="text-center md-heading mt-5" >There are no categories yet!! <br/> Please add a category</p>
      <% else %>
      <h2 class="text-left md-heading"> Resent Transactions</h2>
        <ul class="cat-list md-heading">
          <% @categories.each do |category| %>
            <li>
              <%= link_to category_path(category.id) do %>
                <div class="category-card">
                  <div class="category-inner">
                    <div>
                      <h2 class="mb-1 md-heading">
                        <%= category.name.capitalize %>
                      </h2>
                      <p class="mb-0 light-text">
                        <%= category.created_at.strftime("%d %b %Y") %>
                      </p>
                    </div>
                  </div>
                  <span class="bold-text">
                    <% if category.total_amount <= 0 %>
                      <h3 class="md-heading black-text bold-text"> $<%= category.total_amount %></h3>
                    <% else %>
                      <h3 class="md-heading red-text bold-text"> -$<%= category.total_amount %></h3>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</section>
