<%= render "shared/nav" %>
<section>
  <h1>CATEGORIES</h1>
  <div>
    <% if @categories.size < 1 %>
      <p>There are no categories!!</p>
    <% else %>
      <ul>
        <% @categories.each do |category| %>
          <li>
            <%= link_to category_path(category.id) do %>
              <h2>
                <%= category.name %>
              </h2>
            <% end %>
            <div>
              <%= image_tag category.icon %>
            </div>
            <span>
              <%= category.total_amount %>
            </span>
          </li>
          <% end %>
      </ul>
    <% end %>
  </div>

  <div>
    <%= link_to "Add Category", new_category_path %>
  </div>
</section>
