<section class="page-position" >
  <div>
    <div class="mt-3 px-3 close"><%= link_to "X", categories_path %></div>
    <div class="devise-class">
      <div class="d-flex justify-content-around align-items-center">
        <span class="nav-item">
          <%= link_to categories_path do %>
            <i class="fas fa-chevron-left text-white"></i>
          <% end %>
        </span>
        <h3 class="md-heading text-center">PRODUCTS</h3>
      </div>
    </div>
    <% if @products.empty? %>
      <p class="text-center fs-2">There are no products yet!</p>
    <% end %>
    <div class="category-card mt-4">
      <div>
        <%= image_tag @category.icon, class: "img" %>
      </div>
      <div>
        <h2 class="fs-5 mb-1">
          <%= @category.name %>
        </h2>
      </div>
    </div>
    <ul>
      <% @products.each do |product| %>
        <li class="date-flex bold-text">
          <div>
            <i class="far fa-calendar-alt"></i>
            <%= product.created_at.strftime("%d %b %Y") %>
          </div>
          <div class="product-card">
            <div>
              <%= product.name.capitalize %>
            </div>
            <div>
              <i class="far fa-calendar-alt"></i>
              <%= product.created_at.strftime("%r")%>
            </div>
            <div class="red-text bold-text">
              -$<%= product.amount %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="btn mt-5 py-4">
    <%= link_to "ADD A NEW PRODUCT", new_product_path(@category.id), class: "btn py-4" %>
  </div>
</section>

