<section class="page-position" >
  <div>
    <div class="mt-3 px-3 close"><%= link_to "X", categories_path %></div>
    <div class="devise-class">
      <div class="d-flex justify-content-around align-items-center">
        <span class="nav-item">
          <%= link_to categories_path do %>
            <i class="fas fa-chevron-left text-white"></i>
          <% end %>
        </span>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center px-4">
      <h3 class="md-heading">Add Product</h3>
      <div class="user-icon ms-2">
        <%= link_to new_product_path(@category.id) do %>
        <div><%= fa_icon "plus" %></div>
        <% end %>
      </div>
    </div>
    <% if @products.empty? %>
      <p class="text-center fs-5 my-5 sm-heading">There are no products yet!</p>
    <% end %>
    <div class="category-card">
      <div>
        <%= image_tag @category.icon, class: "img" %>
      </div>
      <div class="category-flex">
        <h2 class="mb-1">
          <%= @category.name.capitalize %>
        </h2>
        <p class="mb-0">
          <%= @category.created_at.strftime("%d %b %Y") %>
        </p>
      </div>
      <span class="red-text bold-text">
        <% if @category.total_amount > 1 %>
          <h3 class="xl-heading red-text bold-text"> -$<%= @category.total_amount %></h3>
        <% else %>
          <h3 class="xl-heading black-text bold-text"> $<%= @category.total_amount %></h3>
        <% end %>
      </span>
    </div>
    <ul>
      <% @products.each do |product| %>
        <li class="date-flex bold-text">
          <div>
            <i class="far fa-calendar-alt"></i>
            <%= product.created_at.strftime("%d %b %Y") %>
          </div>
          <div class="product-card">
            <div>
              <%= product.name.capitalize %>
            </div>
            <div>
              <i class="far fa-calendar-alt"></i>
              <%= product.created_at.strftime("%r")%>
            </div>
            <div class="red-text bold-text">
              -$<%= product.amount %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>

