
<div class="fs-4 p-3 border container mb-2">
  <%= form_with model: @product, method: :post, local: true do |f| %>

    <%= f.text_field :name, required: true, placeholder: "Name", autofocus: true, autocomplete: "name", class: "form-control mb-2" %>

    <%= f.number_field :amount, required: true, placeholder: "Amount", autofocus: true, autocomplete: "Amount", step: "any", class: "form-control mb-2" %>

    <div class="form-group">
      <%= f.label :category %>
      <%= f.collection_select :category_ids, Category.all, :id, :name, prompt: true, required: true %>
    </div>

    <%= f.submit "Add Product", data: {disable_with: "Adding..."}, class: "btn btn-primary my-3" %>
  <% end %>
</div>